@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;800&display=swap");
.avatar {
  vertical-align: middle;
  width: 243px;
  height: 243px;
  border-radius: 80%;
}
.m-0{
  margin: 0;
}
/* *{margin:0;padding:0;} */
.fw-0{
  font-weight: normal;
}

.App {
  text-align: center;
  font-family: "Sarabun", sans-serif;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MapGG {
  width: 500px;
  height: 400px;
}

.NavBarCross {
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  min-height: 100%;
  z-index: 12;
  background-color: white;
  padding: 30px;
  transition: 0.5s;
  border-left: 2px solid #0ab1e7;
}

.NBCI {
  width: 100%;
  text-align: left;
  color: #0ab1e7;
  font-weight: bold;
  /* height: 45px; */
  /* line-height: 45px; */
  padding: 4.5px 0;
  position: relative;
  border-bottom: 1px solid #0ab1e7;
}

.NBCISub {
  padding: 11.5px 0 11.5px 23px;
  width: 217px;
}

.NBCIcon {
  height: 100%;
  line-height: 35px !important;
  margin-right: 10px;
}

.NBCS {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
}

.NavBar {
  display: none;
  width: 100%;
  height: 120px;
  color: #0ab1e7 !important;
  position: relative;
  justify-content: center;
  line-height: 120px;
  font-size: 18px;
  /*display: flex;*/
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  align-items: center;
}

.SBar {
  display: none;
  position: fixed;
  top: 120px;
  height: 3px;
  background-color: orange;
  z-index: 1;
  left: 0;
}

.NavBar2 {
  color: white !important;
  background-color: #0ab1e7 !important;
}

.NavShort {
  position: absolute;
  line-height: 120px;
  font-size: 40px;
  cursor: pointer;
  display: none !important;
  right: 50px;
}

.Menu {
  /* position: absolute;
  right: 100px; */
  display: flex;
  height: 100%;
  margin-left: 50px;
}

.NBI {
  padding: 0 20px;
  cursor: pointer;
  color: #0ab1e7;
  height: 120px;
}

.NBIOut {
  position: relative;
}

.NBS {
  display: none;
  position: absolute;
  top: 70%;
  left: 0;
  background-color: #fff;
  z-index: 1;
  line-height: 40px;
  padding: 0 20px;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #0ab0e777;
  color: #0ab1e7;
  display: none;
  flex-direction: column;
}

.NGT {
  width: 180px;
}

.NPP {
  width: 180px;
}

.NTT {
  width: 150px;
}

.NBB {
  width: 0;
  border-bottom: 4px solid #0ab1e7;
  position: absolute;
  top: 20%;
  transition: 0.5s;
  left: 0;
  width: 100%;
  transform: scaleX(0);
}

.NBB2 {
  border-bottom: 4px solid white;
}

.NBST {
  border-bottom: 1px solid #0ab1e7;
  color: #0ab1e7;
}

.NBSTE {
  border: none;
}

.NBST:hover {
  font-weight: bolder;
}

.Logo {
  width: 200px;
  height: 100%;
  background-image: url(./img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5vw;
  cursor: pointer;
}

.Logo3 {
  background-image: url(./img/Logo2.png);
}

.BodyPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 120px;
  overflow: hidden;
}

.HTButton {
  padding: 0 30px;
  background-color: #ffbf00;
  color: white;
  margin-top: -6px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.HTButton:hover {
  background-color: #ffc300;
}
.HMLIII{
  cursor: pointer;
      width: 313px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: flex-end;
      position: relative;
      border-radius: 13px;
      margin: 18px 60px;
      background-color: #00c1ff !important;

}

.HTButton2 {
  padding: 0 30px;
  background-color: #ffbf00;
  color: white;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  margin: 50px 0 0 0px;
  font-weight: bold;
}

.HTButton2:hover {
  background-color: #0ab1e7;
}

.Footer {
  background-color: #0ab1e7;
  color: white;
  height: 425px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  z-index: 1;
}
@media screen () {

}

.F0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.Logo2 {
  width: 70%;
  height: 20%;
  background-image: url(./img/Logo2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.F1 {
  width: 432px;
  text-align: left;
}

.Social {
  font-size: 2.5rem;
}

.fab {
  margin: 0 20px;
}

.RO {
  line-height: 25px;
  display: flex;
}

.ROI {
  margin-right: 10px;
  font-size: 18px;
  line-height: 25px !important;
}

.F2 {
  width: 40%;
  text-align: left;
  font-size: 20px;
  justify-content: center;
}

.F21 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-facebook,
.fa-youtube {
  cursor: pointer;
}

.Banner {
  position: relative;
  width: 100%;
  height: 40vw;
  transition: 1s;
  overflow: hidden;
}

.BI {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40vw;
  transition: 1s;
  left: 0;
  display: none;
}

.HomeCourse {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  color: #0ab1e7;
  align-items: center;
  justify-content: center;
  background-color: #f2fbfe;
}

.HCT {
  width: 100%;
  height: 27%;
  padding-top: 30px;
  line-height: 2.67;
  font-size: 2.6rem;
  font-weight: bolder;
}

.HCL {
  flex: 1;
  position: relative;
}

.HCIL {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1150px;
  overflow: hidden;
  transition: 1s;
}

.HCILC {
  height: 400px;
  width: 1150px;
  overflow: hidden;
  transition: 1s;
  position: relative;
}

.HCI {
  width: 350px;
  height: 100%;
}

.HCIprev {
  position: absolute;
  left: -70px;
  top: 20%;
  font-size: 70px;
}

.HCInext {
  position: absolute;
  right: -70px;
  top: 20%;
  font-size: 70px;
}

.HCIimage {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
  border-radius: 7%;
  overflow: hidden;
}

.HCItitle {
  font-size: 1.5rem;
  font-weight: bold;
  height: 30%;
  line-height: 40px;
  color: #0ab1e7;
}
#header_top{
  position: relative;
  width: 1200px;
  margin:auto;
}
#hotline_header{
  float: right;
  margin-top:25px;
}
#hotline_header a{
  display: block;
  float: left;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  padding:10px;
  background: #ffc107;
  border-radius: 8px;
  color: #fff;
}
#hotline_header span{
  color: red;
  font-weight: bold;
  font-size: 16px;
  display: block;
  float: right;
  margin-top:10px;
}
#logo{
  float: left;
}
#menu_top{
  float: left;
}
#menu_top ul li{
  float: left;
  margin-left: 6px;
  margin-top:20px;
  position: relative;
}
#menu_top ul li ul{
  background: #0ab1e7;
  position: absolute;
  z-index: 9999;
  width: 250px;
  display: none;
  list-style: none;
}
#menu_top ul li:hover ul{
  display: block;
}
#menu_top ul li ul li{
  margin-top:0;
  margin-left: -40px;
  float: unset;
  border-bottom: 1px solid #fff;
}
#menu_top ul li ul li a{
  color: #fff;
  height: unset;
  line-height: unset;
  display: block;
  padding:10px 8px;
  text-transform: none !important;
}
#menu_top ul li a{
  color: #0ab1e7;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}
.HomeRegister {
  width: 100%;
  height: 530px;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  transition: 0.5s;
  /*background-color: rgba(0, 0, 0, 0.767);*/
}

.HRBG {
  /*background-image: url(./img/Background.jpg);*/
  background-position: center;
  background-size: cover;
}

.BG {
  position: fixed;
  top: 0;
  /*background-image: url(./img/Background.jpg);*/
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.FormRegister {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 390px;
  width: 450px;
  background-color: #0ab1e7;
  border-radius: 30px;
  border: 5px solid white;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

.GGForm {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 390px;
  width: 450px;
  /* background-color: #0ab1e7;
  border-radius: 30px;
  border: 5px solid white; */
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

.FRT {
  position: absolute;
  width: 93%;
  top: -5%;
  left: 3.5%;
  font-size: 1.8rem;
  font-weight: bolder;
  background-color: #0ab1e7;
}

.HRT {
  border-radius: 20px;
  border: 5px solid white;
  padding: 5px 0;
  top: -6%;
  left: 2.5%;
}

.FRT2 {
  background-color: #fff;
  border-radius: 25px;
}

.FRT1 {
  font-size: 1.8rem;
  font-weight: bolder;
  background-color: #0ab1e7;
}

.FRI {
  width: 65%;
  height: 50px;
  line-height: 50px;
  border-radius: 28px;
  border: none;
  padding: 0 20px;
  font-size: 1.5rem;
  color: gray;
}

.FRB {
  cursor: pointer;
  padding: 0 30px;
  background-color: white;
  color: #0ab1e7;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  align-self: flex-end;
  margin-right: 17.5%;
  font-weight: bold;
}

.FRB:hover {
  background-color: #ffc300;
  color: white;
}

.CRT1 {
  background-color: white;
}

.CRT2 {
  font-size: 14px;
}

.Why {
  width: 500px;
  height: 350px;
  text-align: left;
}

.WT {
  font-size: 2.1rem;
  font-weight: bold;
  padding: 10px 0;
}

.WL {
  height: 30%;
  margin-top: 20px;
}

.WLB {
  border-left: 2px solid #0ab1e7;
  padding-left: 80px;
  margin-left: 16px;
  font-size: 14px;
}

.WLI {
  height: 2.1rem;
  margin-left: 8px;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.WL1 {
  height: 20px;
}

.WL3 {
  height: 40px;
}

.WL5 {
  height: 70px;
}

.WL7 {
  height: 37px;
}

.WLIT {
  margin-left: 25px;
  font-size: 20px;
}

.HSI {
  width: 200px;
  height: 73%;
}

.HSIimage {
  width: 200px;
  height: 280px;
  background-position: center;
  background-size: cover;
}

.HSIL {
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  overflow: hidden;
  transition: 1s;
}

.HSILC {
  height: 400px;
  width: 1100px;
  overflow: hidden;
  transition: 1s;
  position: relative;
}

.HomePromise {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  display: flex;
  align-items: center;
  color: #0ab1e7;
  justify-content: space-evenly;
  transition: 1s;
  padding: 20px;
}

.HPIC {
  background-size: cover;
  background-image: url(./img/HPIC.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 350px;
}

.HPT {
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px;
}

.HomeFeel {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #0ab1e7;
  align-items: center;
  justify-content: center;
  background-color: #f2fbfe;
}

.GoTop, #zalo-link , #call-link {
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 55px;
  height: 55px;
  background-color: #0ab1e7;
  border-radius: 50%;
  line-height: 55px;
  border: 1px solid white;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 11;
}

.GoTop:hover {
  background-color: #095c77a2;
}
#zalo-link {
  bottom: 80px;
  border: 1px solid #0180C7;
}
#call-link {
  border: 1px solid #32EB1A;
  background-color: #FFFFFF;
  bottom: 140px;
}
#zalo-link img ,#call-link  img{
  width: 100%;
}

.ButtonBanner {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.BB {
  width: 14px;
  height: 14px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.377);
}

.BB:hover {
  background-color: rgba(70, 68, 68, 0.377);
}

.FormTitle {
  position: fixed;
  top: 200px;
  left: 100px;
  border: 3px solid #0ab1e7;
  padding: 40px 30px;
  border-radius: 25px;
  font-size: 20px;
  color: #0ab1e7;
  width: 250px;
}

.FTC {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
}

.FTT {
  position: absolute;
  top: -75px;
  width: 150%;
  left: -25%;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 35px;
  color: #0ab1e7;
}

.FTTC {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.FTCL {
  line-height: 40px;
  color: #0ab1e7;
}

.FTCL:hover {
  font-weight: bolder;
}

.FormContent {
  margin: 80px 100px 80px 425px;
  border: 3px solid #0ab1e7;
  padding: 80px 30px 40px 30px;
  border-radius: 25px;
  font-size: 20px;
  color: black;
  flex: 1;
  position: relative;
  text-align: left;
}

.BodySub {
  display: flex;
  flex-direction: column;
}

.FCT {
  position: absolute;
  top: -35px;
  width: 80%;
  left: 10%;
  display: flex;
  font-weight: bolder;
  font-size: 35px;
  color: #0ab1e7;
}

.FCTC {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.PLImg {
  width: 200px;
  height: 100%;
  background-position: center;
  background-size: cover;
  border: 2px solid #0ab1e7;
}

.PostList {
  display: flex;
  flex-direction: column;
}

.PostTitle {
  font-size: 40px;
}

.PLItem {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  margin: 20px 0;
}

.PLContent {
  flex: 1;
  padding: 0 20px;
  color: #0ab1e7;
}

.PostImg {
  max-width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0;
}

.DTKD {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.DTKDImg {
  width: 240px;
  height: 80px;
  border: 1px solid #0ab1e7;
  margin-bottom: 20px;
}

.biv {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.dbiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}

.ListImgVideo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.video {
  margin-bottom: 20px;
  width: 100%;
}

.FeelItem {
  width: 100%;
  height: 250px;
  display: flex;
  margin: 20px 0;
}

.FeelImg {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #0ab1e7;
}

.FeelContent {
  flex: 1;
}

.FeelName {
  color: #0ab1e7;
  line-height: 50px;
  height: 50px;
  padding-left: 20%;
  font-weight: bold;
}

.FeelNameR {
  padding-left: 0;
  padding-right: 20%;
  text-align: right;
}

.FeelText {
  background-size: 100% 100%;
  background-image: url(./img/bubble-01.png);
  height: fit-content;
  font-size: smaller;
  padding: 10px 10px 10px 20%;
}

.FeelTextR {
  padding: 10px 20% 10px 10px;
  background-image: url(./img/bubble-02.png);
}

.FeelParentList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.FPI {
  position: relative;
  width: 300px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.PlayVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0);
  z-index: 1;
  top: 0;
  left: 0;
}

.fa-play-circle {
  font-size: 50px;
  margin: 50px auto;
}

.PlayVideo:hover {
  color: rgba(255, 255, 255, 0.808);
}

.PVNow {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wb{
  width: 52px;

}
.PVNT {
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
}

.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ContactForm {
  margin: 100px 30px;
  width: 500px;
  height: 600px;
}

.CFT {
  width: 90%;
  left: 5%;
  color: #0ab1e7;
  background-color: white;
  top: -55px;
  border-radius: 10px;
}

.CTF2 {
  background-color: white;
  border-color: #0ab1e7;
}

.CFI {
  width: 70%;
  border: 2px solid #0ab1e7;
}

.CFTA {
  height: 180px;
  width: 70%;
  border: 2px solid #0ab1e7;
}

.CTT {
  font-size: 30px;
  color: #0ab1e7;
}

.CRB {
  background-color: #0ab1e7;
  color: white;
}

.FeelVideo {
  max-width: 1000px;
  width: 90%;
  height: 50vw;
}

.DivVideo {
  width: 100%;
}

.HVT {
  width: 700px;
  line-height: 60px;
  padding: 30px;
}

.HomeWhy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #0ab1e7;
  /*height: 756px;*/
}
.MLI{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.MLII{
  cursor: pointer;
  width: 353px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  justify-content: flex-end;
  position: relative;
  border-radius: 17px;
  margin: 42px 44px;
  background-color: #00c1ff !important;
}

.HWL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1234px;
}

.HWI {
  cursor: pointer;
  width: 492px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
  position: relative;
  border-radius: 8px;
  margin: 18px 13px;
  background-color: #00c1ff !important;
}

.HWItext {
  width: 100%;
  height: 50%;
  color: white;
  font-size: 20px;
}

.HWItext2 {
  display: none;
  width: 100%;
  color: white;
  height: 65%;
  font-size: 14px;
}

.HWIcon {
  width: 100%;
  color: white;
  font-size: 40px;
  transition: 0.5s;
  position: absolute;
  bottom: 30%;
  left: -43%;
}

.HWIcon2 {
  bottom: 75%;
}

.HWItitle {
  position: absolute;
  top: -15%;
  right: 1%;
  font-weight: bold;
  transition: 0.5s;
  width: 100%;
  display: none;
}

.HomeTech {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0ab1e7;
  padding: 30px 0;
}

.HTT {
  color: #0ab1e7;
  width: 400px;
  height: 350px;
}

.HTTitle {
  cursor: pointer;
  width: 492px;
  display: flex;
  flex-direction: column;
  padding: 37px;
  justify-content: flex-end;
  position: relative;
  border-radius: 51px;
  margin: 23px 16px;
  background-color: #00c1ff !important;
}

.HTT2 {
  font-size: 27px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 20px 0;
}

.HTTButton {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.HTTB1 {
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  color: white;
  background-color: #0ab1e7;
  border-radius: 25px;
  margin-left: 20px;
}

.HTTB1:hover {
  background-color: #ffc300;
}

.HTTB2 {
  font-weight: bold;
  padding: 14px;
  color: #0ab1e7;
  background-color: white;
  border-radius: 25px;
  margin-left: 20px;
  border: 1px solid #0ab1e7;
}

.HTTB2:hover {
  color: white;
  background-color: #0ab1e7;
  border-radius: 25px;
}

.HTTBar {
  position: absolute;
  border-bottom: 4px solid #0ab1e7;
  transition: 0.5s;
  bottom: 0;
}

.HTTBar1 {
  width: 110px;
  left: 0px;
}

.HTTBar2 {
  width: 90px;
  left: 140px;
}

.HTTBar3 {
  width: 140px;
  left: 260px;
}

.HTImg {
  width: 550px;
  height: 370px;
  background-image: url(./img/hw.png);
  background-position: center;
  background-size: cover;
}

.HomeTeacher {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #0ab1e7;
  background-color: #fff;
  align-items: center;
}

.HomeTeacherList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-evenly;
  width: 100%;
}

.HomeTeacherItem {
  width: 300px;
  height: 410px;
}

.HomeTeacherImg {
  width: 81%;
  height: 56%;
  border-radius: 80%;
  background-position: center;
  background-size: cover;
}

.HomeTeacherName {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.HomeTeacherInfor {
  color: gray;
}

.HomeTeacherMore {
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.712); */
  background-color: #0c556db9;
  color: white;
  transition: 0.5s;
  height: 0%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  flex-direction: column;
}

.HomeTeacherItem:hover .HomeTeacherMore {
  height: 100%;
}

.HTMore {
  padding: 10px;
}

.HPL {
  flex: 1;
}

.HomeVideo {
  background-color: #e1f6f7;
  color: #0ab1e7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HVC {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.HVI {
  margin: 0 20px 20px 20px;
  width: 400px;
  height: 250px;
  border: 1px solid #0ab1e7;
}

.HFC {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 109px;
  justify-content: center;
  align-items: flex-start;
}

.HFT1 {
  width: 400px;
  margin: 0 30px 30px 30px;
  text-align: left;
}

.HFT1T {
  font-size: 50px;
  font-weight: bold;
}

.HFT2 {
  width: 600px;
  height: 400px;
  color: white;
  background-color: #0ab1e7;
  border-radius: 20px;
  margin: 0 30px 30px 30px;
  position: relative;
  overflow: hidden;
}

.HFTB {
  width: 50%;
  text-align: center;
  margin: 20px 0;
}

.FBS {
  width: 100%;
  height: 100%;
}

.HF0 {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  justify-content: space-evenly;
  padding: 50px;
}

.HFData {
  width: 500px;
  font-size: 25px;
  text-align: left;
}

.HFName {
  display: flex;
}

.HFNameData {
  padding: 0 30px;
}

.HF1 {
  top: 0;
  left: 0;
}

.HF2 {
  top: 0;
  left: -100%;
}

.HF3 {
  top: 0;
  left: -200%;
}

.HFSlideButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 15%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.HFSB {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.HFT2C {
  position: absolute;
  display: flex;
  width: 300%;
  height: 100%;
  transition: 0.5s;
}

.HNItem {
  width: 500px;
  height: 500px;
  margin: 0 20px;
}

.HNBImg {
  width: 100%;
  height: 66%;
  background-position: center;
  background-size: cover;
}

.HNBTitle {
  color: rgb(65, 64, 64);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.HNList {
  display: flex;
  flex-direction: column;
}

.HNLItem {
  height: 25%;
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}

.HNLItemImg {
  width: 200px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.HNLItemName {
  text-align: left;
  padding: 0 10px;
  flex: 1;
}

.FullRegister {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 12;
}

.FFR {
  height: 440px;
}

.FFRT {
  width: 93%;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: -7%;
}

.I1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-evenly;
  text-align: left;
  margin: 0 56px 36px 20px;
}

.I2 {
  width: 600px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url(./img/Intro1.jpg);
  margin: 0 20px;
  border-radius: 20px;
}

.I3 {
  background-image: url(./img/Intro2.jpg);
}

.I4 {
  flex-direction: row;
  flex-wrap: wrap;
  width: 550px;
}

.I4Item {
  width: 250px;
  padding: 10px;
}

.IIcon {
  font-size: 60px;
  margin-right: 10px;
  color: rgb(65, 64, 64);
}

.IG {
  width: 100%;
  background-image: url(./img/Intro3.jpg);
  background-position: center;
  background-size: cover;
}

.IG2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  /* background-color: #165abea6; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Intro2 {
  width: 600px;
}

.I2Border {
  border-bottom: 1px solid white;
  justify-content: space-between;
}

.I2TextBar {
  position: absolute;
  border-bottom: 4px solid white;
  transition: 0.5s;
  bottom: 0;
  width: 20%;
}

.I2TextBar1 {
  left: 0;
}

.I2TextBar2 {
  left: 20%;
}
.I2TextBar3 {
  left: 50%;
}
.I2TextBar4 {
  left: 80%;
}

.I2BI {
  text-align: left;
}

.TeacherList {
  background-color: rgba(255, 255, 255, 0.87);
}

.TeacherListPage {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
  margin: 0 auto;
}

.TCLI {
  margin: 10px;
}

.PageList {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.PageID {
  width: 30px;
  height: 30px;
  background-color: #0ab1e7;
  color: white;
  line-height: 30px;
  margin: 5px;
  cursor: pointer;
}

.PageID:hover {
  background-color: #007bff;
}

.PPS {
  width: 90%;
  align-items: center;
  justify-content: center;
}

.PPSL {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
}

.PPSItem {
  width: 300px;
  position: relative;
  margin: 0 20px 30px 20px;
  height: 220px;
}

.PPSIcon {
  position: absolute;
  bottom: 100%;
  left: 42%;
  transition: 0.5s;
}

.PPSC {
  height: fit-content;
  width: 100%;
  background-image: url(./img/Intro3.jpg);
  background-position: center;
  background-size: cover;
}

.PPSC2 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.678);
  align-items: center;
}

.PPSTitle {
  width: 600px;
  font-size: 50px;
}

.PPTT {
  width: 750px;
}

.PPT1 {
  font-size: 32px;
}

.PPTBenefit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px 30px 30px;
  justify-content: center;
  align-items: center;
}

.PPTBI {
  width: 550px;
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.719);
  padding: 20px;
  margin: 0 20px 50px 20px;
}

.Zoom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ZoomContent {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.ZoomContent > * {
  width: 100%;
  text-align: left;
}

.ZI1 {
  width: 400px;
}

.ZI2 {
  width: 300px;
}

.ZI3 {
  width: 150px;
}

.FeelIgemsImg {
  width: 200px;
  margin: 20px;
  cursor: pointer;
}

.FeelIgems {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.BSlide {
  width: 20px;
  height: 20px;
  background-color: rgba(66, 40, 40, 0.644);
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px;
}

.BSlideList {
  display: flex;
}

.SIC {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}

.SIIC {
  width: 100%;
  position: relative;
  height: 95%;
  perspective: 1000px;
}

.BSB {
  position: absolute;
  top: 45%;
  font-size: 7vw;
  z-index: 20;
  cursor: pointer;
  color: rgba(66, 40, 40, 0.438);
}

.BSB:hover {
  color: white;
}

.BSPrev {
  left: 5%;
}

.BSNext {
  right: 5%;
}

.SII {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  transition: 1s;
  transform-style: preserve-3d;
  transform: translateX(0) rotateY(0deg);
}

.SIIL {
  transform: translateX(-100vw) rotateY(120deg);
}

.SIIR {
  transform: translateX(100vw) rotateY(-120deg);
}

.SIIimg {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.DifNews1,
.DifNews2 {
  width: 300px;
  /* background-color: #0050cb; */
  background-color: #0ab1e7;
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 30px;
  height: fit-content;
}

.DifNews3 {
  display: none;
}

.NewsContainer {
  padding: 0 2%;
  justify-content: center;
}

.SearchContainer {
  height: 35px;
  line-height: 35px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}

.SearchInput {
  height: 30px;
  flex: 1;
  outline: none;
  border: none;
  margin-right: 10px;
}

.SIB {
  border-radius: 5px;
}

.SearchInput:hover,
.SearchInput:focus {
  outline: 2px solid #007bff;
}

.KWI {
  background-color: #007bff;
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.PMIimg {
  width: 296px;
  height: 190px;
  border: 2px solid white;
}

.PMI {
  margin: 20px 0;
}

.PMI:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.692);
}

.KWI:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.692);
}

.NewsList {
  margin: 0 20px 30px 80px;
  width: 800px;
  justify-self: right;
}

.NLIimg {
  width: 300px;
  height: 200px;
}

.NLI {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #0ab1e7;
}

@media screen and (max-width: 1475px) {
  .HCILC {
    width: 750px;
  }

  .Menu {
    display: none;
  }

  .NavShort {
    display: block !important;
  }

  .Logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1250px) {
  .HSILC {
    width: 800px;
  }

  .FormTitle {
    display: none;
  }

  .FormContent {
    margin: 40px 40px;
  }

  .HomeTeacherList {
    width: 720px;
  }

  .TempDiv {
    display: none;
  }

  .NewsContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .DifNews1 {
    display: none;
  }

  .DifNews3 {
    display: flex;
    width: 700px;
    padding: 2.5%;
  }

  .DifNews {
    width: 800px;
  }

  .DifNews2 {
    width: 760px;
    padding: 2.5%;
  }

  .PMI {
    flex-direction: row;
  }
}

@media screen and (max-width: 1100px) {
  .F21 {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }

  .HomeRegister {
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
  }

  .HWL {
    width: 800px;
  }

  .HNList {
    height: 430px;
  }
}

@media screen and (max-width: 1000px) {
  .HSILC {
    width: 500px;
  }
}

@media screen and (max-width: 910px) {
  .HCILC {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .IG2 {
    padding: 0;
  }

  .F2 {
    display: none;
  }

  .HPIC {
    display: none;
  }

  .FeelItem {
    height: fit-content;
  }

  .FeelImg {
    width: 150px;
    height: 150px;
  }

  .FeelText {
    font-size: 14px;
  }

  .NewsList {
    width: 90% !important;
    margin: 20px;
  }

  .DifNews3 {
    width: 90% !important;
    margin: 20px;
  }

  .DifNews {
    width: 90%;
  }

  .DifNews2 {
    width: 95%;
  }

  .PMIimg {
    width: 250px;
    height: 170px;
  }
}

@media screen and (max-width: 700px) {
  .HWL {
    width: 100%;
  }

  .ZT {
    flex-direction: column;
  }

  .NLIT {
    font-size: 20px;
  }

  .NLIimg {
    width: 250px;
    height: 170px;
  }
}

@media screen and (max-width: 660px) {
  .PostTitle {
    font-size: 20px;
  }

  .IG2 {
    width: 120%;
    margin-left: -13%;
  }

  .IG2 > div {
    transform: scale(0.7);
  }

  .PPTBenefit {
    margin-top: -15%;
    margin-bottom: -10%;
    padding: 0;
  }

  .HSILC {
    width: 200px;
  }

  .HomeCourse {
    height: 350px;
  }

  .HCT {
    font-size: 20px;
    line-height: 50px;
    height: 80px;
  }

  .HCI {
    height: 300px;
  }

  .HCIimage {
    height: 250px;
  }

  .HCILC {
    height: 300px;
  }

  .HCInext {
    right: 3%;
    top: 30%;
    z-index: 2;
    font-size: 45px;
  }

  .HCIprev {
    left: 3%;
    top: 30%;
    z-index: 2;
    font-size: 45px;
  }

  .HCItitle {
    height: 50px;
  }

  .Why {
    transform: scale(0.7);
    margin-bottom: -100px;
  }

  .FormRegister {
    /* margin-top: -60%;
    margin-bottom: -20%; */
    transform: scale(0.7);
  }

  .GGForm {
    margin-top: -40%;
    margin-bottom: -20%;
    width: 90%;
    max-width: 400px;
  }

  .HomeRegister {
    height: 100%;
  }

  .HCL {
    height: 300px;
  }

  .HomeStudent {
    height: 400px;
  }

  .HSItitle {
    height: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  .HPT {
    transform: scale(0.8);
    margin: 0;
  }

  .HomePromise {
    height: 390px;
    width: 120%;
    margin-left: -13%;
  }

  .GoTop,#zalo-link, #call-link {
    transform: scale(0.7);
    bottom: 2vw;
    right: 2vw;
  }
  #zalo-link{
    bottom: 13vw;
  }
  #call-link {
    bottom: 24vw;
  }
  .fb_dialog_mobile .fb_customer_chat_icon{
    transform: scale(0.7) !important;
    bottom: 35vw !important;
    right: -5px !important;
  }

  .HVT {
    height: 113px;
    line-height: 32px;
    width: 320px;
    padding: 20px;
  }

  .PPTT {
    width: 340px;
  }

  .FormContent {
    margin: 40px 20px;
    padding: 30px 10px;
  }

  .PLContent {
    font-size: 14px;
    padding: 0 5px;
  }

  .PLItem {
    height: 120px;
  }

  .PLImg {
    width: 140px;
  }

  .PVNow {
    margin-top: 30px;
  }

  .CTT {
    font-size: 20px;
  }

  .ContactForm {
    /* width: 95%; */
    /* margin: 50px 15px 20px 15px; */
  }

  .MapGG {
    width: 100%;
    height: 300px;
  }

  .CTF2 {
    margin: -2% 0 -10% 0;
    /* width: 180%; */
  }

  .HTImg {
    display: none;
  }

  .HFT1 {
    transform: scale(0.8);
    margin-top: -5%;
  }

  .HFT2 {
    transform: scale(0.6);
    margin-top: -20%;
    margin-bottom: -10%;
  }

  .HNItem {
    width: 90%;
  }

  .HNBig {
    height: 90vw;
  }

  .HNBTitle {
    font-size: 20px;
  }

  .HomeTeacherList {
    width: 100%;
  }

  .PPSTitle {
    width: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .Footer{

    margin-top: 50px;
  }
  .F1 {
    width: 100%;
    margin: 0 5%;
  }

  .NavBar {
    height: 55px;
    display: flex;
  }
  #header_body{
    display: none;
  }
  .SBar {
    top: 80px;
  }

  .NBI {
    line-height: 80px;
  }

  .NavShort {
    font-size: 26px;
    line-height: 80px;
    right: 5%;
  }

  .Logo {
    width: 170px;
  }

  .BodyPage {
    margin-top: 80px;
  }

  .FCC {
    font-size: 14px;
  }

  .FCTC {
    font-size: 28px;
  }

  .FeelItem {
    flex-direction: column;
  }

  .FeelItemR {
    align-items: flex-end;
  }

  .HVI {
    width: 90%;
    height: 55vw;
  }
  .HTT {
    transform: scale(0.8);
  }

  .HTTBar2 {
    width: 90px;
    left: 130px;
  }

  .HTTBar3 {
    width: 140px;
    left: 232px;
  }

  .PPTBenefit {
    margin-top: -20%;
    margin-bottom: -15%;
    padding: 0;
  }

  .BSlideList {
    transform: scale(0.8);
  }

  .NLI {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }

  .NLIimg {
    width: 90%;
    height: 50vw;
  }

  .PMI {
    flex-direction: column;
    align-items: center;
  }

  .PMIimg {
    width: 90%;
    height: 50vw;
  }

  .PPT1 {
    font-size: 30px;
    margin: 0 50px 20px 20px;
    text-align: center;
  }

  .ZI1 {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .HNLItemName {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .PPTBenefit {
    margin-top: -30%;
    margin-bottom: -20%;
    padding: 0;
  }
}
