.NBI:hover > .NBB {
  transform: scaleX(1);
}

.NBIOut:hover > .NBS {
  display: flex;
}

.HWI:hover {
  background-color: #00c1ff !important;
}

.HWI:hover > .HWIcon {
  bottom: 75%;
}

.HWI:hover > .HWItext {
  display: none;
}

.HWI:hover > .HWItext2 {
  display: block;
}

.HWI:hover > .HWItitle {
  display: block;
}
