body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.PostContent img{
  max-width: 100%;
  height: auto;
}

.fsz-u{
  font-size: unset;
}

.fw-n{
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.c-b {
  color: #007bff !important;
}

.c-bo {
  color: #00c1ff !important;
}

.c-r {
  color: red;
}

input:active,
input:focus {
  outline: none;
}

textarea:active,
textarea:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9c3c3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c9c3c3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c9c3c3;
}

.c-w {
  color: white !important;
}

.c-o {
  color: #ffc300;
}

.c-gray {
  color: gray;
}

.c-sgray {
  color: rgb(65, 64, 64);
}

.c-bl {
  color: black;
}

.fw-bd {
  font-weight: bolder;
}

.tfs-130 {
  transform: scale(1.3);
}

.mb-25x {
  margin-bottom: 25%;
}

.l-45x {
  left: 45% !important;
}

.l-40x {
  left: 40% !important;
}

.l-38x {
  left: 37% !important;
}

.bottom-103x {
  bottom: 103% !important;
}

.p-20 {
  padding: 0 20px;
}
.p-10 {
  padding: 0 10px;
}

.fs-60 {
  font-size: 60px;
}

.fs-80 {
  font-size: 80px;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-14 {
  font-size: 14px;
}

.bc-bb {
  background-color: rgba(190, 183, 183, 0.822) !important;
}

a {
  text-decoration: none;
}

.bc-s {
  background-color: rgba(255, 255, 255, 0.89);
  min-height: 1000px;
}

.Space {
  width: 30px;
}

/* ul {
  list-style: none;
} */

.p-r {
  position: relative;
}

.fd-c {
  flex-direction: column;
}

.f-w {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.HaveImg {
  background-position: center;
  background-size: cover;
}

.f1 {
  flex: 1;
}

.mt-100 {
  margin-top: 100px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.bg-b {
  background-color: #0ab1e7;
}

.bg-b2 {
  background-color: #00c1ff !important;
}

.bg-g {
  background-color: gray;
}

.bg-o {
  background-color: #ffc300;
}

.bg-w {
  background-color: white;
}

.fd-r {
  flex-direction: row-reverse;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center !important;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100%;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.pos-r {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 35px !important;
}

.r-300 {
  right: -302px !important;
}

.f-i {
  font-style: italic;
}
